#hp-slide {
  width: 100%;
  height: 50rem;
  z-index: -1;
  animation: hp-slide 5s ease-out infinite;
}

@keyframes hp-slide {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.banner-part {
  position: relative;
  width: 100%;
  height: 50rem;
  overflow: hidden;
}
.digit-family {
  font-family: "Black Ops One", cursive;
}

.banner-des {
  position: absolute;
  bottom: 20%;
  /* top: 50%; */
  left: 0.7rem;
  width: 20%;
  /* background-color: rgba(128, 128, 128, 0.5); */
  padding: 2rem;
  /* border-radius: 62% 54% 25% 70%; */
}
.home-part-img1 {
  position: absolute;
  top: 7rem;
  right: 34rem;
  z-index: 1;
  width: 22rem;
  height: 42rem;
  transform: skewX(-10deg);
  border: 2px solid rgb(1, 122, 122);
}
.home-part-img2 {
  position: absolute;
  top: 7rem;
  right: 19rem;
  z-index: 1;
  width: 22rem;
  height: 42rem;
  transform: skewX(-10deg);
  border: 2px solid rgb(1, 122, 122);
}
.home-part-img3 {
  position: absolute;
  top: 7rem;
  right: 6rem;
  z-index: 1;
  width: 20rem;
  height: 42rem;
  transform: skewX(-10deg);
  border: 2px solid rgb(1, 122, 122);
}
.home-title {
  font-size: 2.8rem;
  /* font-family: "Ceviche One", cursive; */
}
.explore-btn {
  padding: 0.5rem 2rem;
  float: left;
  margin-top: 1rem;
  cursor: pointer;
  border: 3px solid rgb(202, 211, 216);
  /* color: aliceblue;
  background-color: rgb(4, 88, 114); */
  /* background-color: rgba(4, 88, 114, 0.671); */
}

.explore-btn:hover {
  border: 3px solid rgb(2, 50, 65);
  background-color: rgb(4, 88, 114);
  color: aliceblue;
}

.service-part {
  /* position: relative; */
  /* background-image: url("https://i.ibb.co/V0GZ2My/ser-bg.gif"); */
  background-color: rgb(20 23 32);
  /* background-color: rgb(3, 46, 59); */
  padding-bottom: 15rem;
  padding-top: 3rem;
}
/* .service-shade {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: aliceblue;
  opacity: 0.9;
} */
.title {
  color: white;
}
.service-underline {
  width: 5rem;
  border-top: 4px solid gray;
  margin-left: 4rem;
  border-radius: 20rem;
}

.ongoing-part {
  background-color: rgb(20 23 32);
}
.evant-img-part {
  z-index: 2;
}
.even-bg {
  z-index: -1;
  width: 70rem;
  height: 15rem;
}
.event-img {
  box-shadow: 0 0 2rem rgb(12, 12, 12);
}
.event-underline {
  width: 9rem;
  border-top: 4px solid gray;
  margin-left: 9rem;
  border-radius: 20rem;
}

.join-btn {
  background-color: rgb(48, 121, 143);
}

.rate-btn {
  top: 18.5rem;
  left: 41%;
}
.feedback-des {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.feed-details-underline {
  width: 18rem;
  border-top: 2px solid rgb(151, 150, 150);
  /* margin-left: 9rem; */
  border-radius: 10rem;
}

.feed-underline {
  width: 9rem;
  border-top: 4px solid gray;
  margin-left: 7rem;
  border-radius: 20rem;
}


/* Media query  */

@media onlY screen and (min-width: 0px) and (max-width: 688px) {
  /* banner part  */

  .home-part-img1 {
    top: 32rem;
    right: 14rem;
    width: 7rem;
    height: 19rem;
  }
  .home-part-img2 {
    top: 32rem;
    right: 9rem;
    width: 7rem;
    height: 19rem;
  }
  .home-part-img3 {
    top: 32rem;
    right: 4rem;
    width: 7rem;
    height: 19rem;
  }
  .banner-des {
    position: absolute;
    top: 0%;
    /* top: 50%; */
    left: 0.7rem;
    width: 90%;
    /* background-color: rgba(128, 128, 128, 0.5); */
    padding: 2rem;
    /* border-radius: 62% 54% 25% 70%; */
  }

  /* service part  */

  .service-part {
    padding-bottom: 7rem;
  }
  .service-underline {
    width: 4rem;
    border-top: 4px solid gray;
    margin-left: 2.5rem;
    border-radius: 20rem;
  }

  /* ongoing event  */

  .even-bg {
    width: 80%;
    height: 68rem;
  }
  .ongoin-des {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .event-underline {
    width: 7rem;
    border-top: 4px solid gray;
    margin-left: 5.5rem;
    border-radius: 20rem;
  }

  /* feedback  */
  .feed-details-underline {
    width: 12rem;
    border-radius: 10rem;
  }

  .feed-underline {
    width: 6rem;
    margin-left: 5rem;
  }
}
