.booking-details-part {
  background-color: rgb(20 23 32);
}
.book-left {
  border-radius: 0.5rem 0 0 0.5rem;
}
.book-right {
  border-radius: 0 0.5rem 0.5rem 0;
}

.place-b-underline {
  width: 5rem;
  border-top: 4px solid gray;
  border-radius: 20rem;
}


 /* media query  */
@media onlY screen and (min-width: 0px) and (max-width: 688px) {
  .book-left {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 22rem;
    margin: 0 auto;
  }
  .book-right {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 22rem;
    margin: 1rem auto 0 auto;
  }
}
