.my-orders-part {
  background-color: rgb(20 23 32);
}
.panding-btn {
  background-color: salmon;
}
.aprove-btn {
  background-color: aquamarine;
}
.fa-trash:hover {
  box-shadow: 0 0 0.3rem gray;
}
.fa-check-circle:hover {
  box-shadow: 0 0 0.3rem gray;
}
.my-order-underline {
  width: 6rem;
  border-top: 4px solid gray;
  margin-left: 6rem;
  border-radius: 20rem;
}
.all-order-underline {
  width: 7rem;
  border-top: 4px solid gray;
  margin-left: 7rem;
  border-radius: 20rem;
}

 /* media query  */
@media onlY screen and (min-width: 0px) and (max-width: 688px) {
  .all-order-underline {
    width: 7rem;
    border-top: 4px solid gray;
    margin-left: 3rem;
    border-radius: 20rem;
  }
  .my-order-underline {
    width: 6rem;
    border-top: 4px solid gray;
    margin-left: 2.5rem;
    border-radius: 20rem;
  }
}
