.add-tour-part {
  background-color: rgb(20 23 32);
}
.add-tour-card {
  position: absolute;
  width: 35rem;
  left: 17rem;
}
.add-tour-img {
  width: 60rem;
  height: 45rem;
}
.add-tour-underline {
  width: 8rem;
  border-top: 4px solid gray;
  margin-left: 10rem;
  border-radius: 20rem;
}

/* media query  */

@media onlY screen and (min-width: 0px) and (max-width: 688px) {
  .add-tour-img {
    width: 22rem;
    height: 60rem;
  }
  .add-tour-card {
    position: absolute;
    width: 20rem;
    left: auto;
    right: auto;
  }
  .add-tour-part {
    background-color: rgb(20 23 32);
    padding: 8rem 0;
  }
  .add-tour-underline {
    width: 8rem;
    border-top: 4px solid gray;
    margin-left: 4.5rem;
    border-radius: 20rem;
  }
}
